html {
  font-size: 62.5%; /* = 10px */
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1 {
  font-size: 5rem;
  text-align: center;
  font-family: 'Jura', sans-serif;
  font-weight: 700;
}

h2 {
  font-size: 4rem;
  text-align: center;
  padding: 1rem;
  font-family: 'Jura', sans-serif;
  font-weight: 600;
}

h3 {
  line-height: 3rem;
  font-size: 3rem;
  text-align: center;
  padding: 1rem;
  font-family: 'Jura', sans-serif;
  font-weight: 500;
}

h4 {
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  font-family: 'Jura', sans-serif;
  font-weight: 400;
}

p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
}

a {
  text-decoration: none;
}

form {
  width: 55%;
  margin: 5% auto;
  line-height: 2rem;
}

label,
legend {
  font-family: 'Jura', sans-serif;
  font-weight: 700;
  font-size: 2rem;
}

input {
  font-size: 2rem;
}

header {
  margin-top: 2vw;
}

.hidden {
  display: none !important;
}

.flex {
  display: flex;
}

.page {
  height: 100vh;
  width: 100vw;
}

.back-arrow {
  float: left;
  font-size: 3rem;
  cursor: pointer;
}

.circle-icon {
  width: 3rem;
}

.nutrient-list {
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

.delete-edit {
  float: right;
  cursor: pointer;
}

.delete-edit button {
  font-size: 2rem;
  cursor: pointer;
}

.delete-confirm div {
  margin: 0 auto;
  width: 36%;
}

.delete-confirm h2 {
  line-height: 4rem;
}

/*cover-page */
#cover-page #title {
  position: relative;
  width: 75vw;
  height: 75vh;
  margin: 0 auto;
  top: 50%;
  transform: perspective(1px) translateY(-50%);
  border-radius: 1rem;
  color: white;
}

#cover-page #title h2 {
  padding: 0;
}

#cover-page a {
  border: .5vw solid orange;
  display: block;
  width: 11rem;
  margin: 0 auto;
  background-color: transparent;
  cursor: pointer;
}

#cover-page a:active {
  background-color: orange;
  border-color: orange;
}

#cover-page a h2 {
  color: white;
  padding: 0;
}

#cover-page #defaultCanvas0 {
  position: absolute;
  z-index: -1;
  top: 0;
  background-color: white;
}

/* add-first-entry page */
#first-entry-page a {
  display: block;
  position: relative;
  margin-left: 25vw;
  margin-right: 25vw;
  cursor: pointer;
}

#first-entry-page a img {
  display: block;
  width: 50vw;
  margin: auto;
}

#first-entry-page a h1 {
  color: white;
  width: 50vw;
  height: 100%;
  background-color: rgba(34, 33, 33, 0.8);
  position: absolute;
  left: 0;
  right: 0;
  padding: 10rem 0rem;
  margin: auto;
  visibility: hidden;
}

#first-entry-page a:hover #add-first-entry {
  visibility: visible;
  opacity: 1;
}

/* grow-collection-page */
#grow-collection-page #grow-grid {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2rem;
  margin: 3.1vw;
}

#grow-collection-page .grow-links,
 #grow-collection-page #add-a-grow {
  margin: .2vw .1vw;
  box-sizing: border-box;
  width: 23vw;
  height: 23vw;
}

#grow-collection-page .grow-links {
  background-color: black;
  padding: 4% 0%;
}

/* unvisited link */
.grow-links:link {
    color: white;
}

/* visited link */
.grow-links:visited {
    color: white;
}

/* mouse over link */
.grow-links:hover {
    color: black;
}

/* selected link */
.grow-links:active {
    color: black;
}

#grow-collection-page #add-a-grow {
  border: .5vw dotted black;
  padding: 5% 0%;
}

#add-a-grow:link {
    color: black;
}

#add-a-grow:visited {
    color: black;
}

#add-a-grow:hover {
    color: white;
}

#add-a-grow:active {
    color: white;
}

/* grow-entries-page */
#grow-entries-page #grow-timeline {
  display: flex;
  width: 100%;
  padding-top: 2.5rem;
}

#grow-timeline #left-side {
  display: flex;
  flex-grow: 4;
  position: relative;
  justify-content: flex-end;
}

#grow-timeline #right-side {
  flex-grow: 4;
  position: relative;
}

#timeline-middle {
  width: 40px;
}

#grow-timeline #timeline-line{
  background-color: black;
  width: 25%;
  margin: 0 auto;
}

#grow-timeline #timeline-dot{
  background-color: black;
  position: relative;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin: 25px auto;
}

#grow-timeline .timeline-entry {
  height: 50px;
  position: absolute;
  font-size: 2rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.timeline-entry h2 {
  font-size: 2rem;
  padding: 0;
}

.timeline-entry img {
  height: 2rem;
  width: 2rem;
}


/* add-grow form page */
#add-grow-page form div {
  margin: 1rem;
}

 {
  float: right;
  background-color: black;
  color: white;
  font-family: 'Jura', sans-serif;
  font-weight: 300
}

#add-grow-page #submit-grow,
#add-entry-page #submit-entry {
  float: right;
  background-color: black;
  color: white;
  font-family: 'Jura', sans-serif;
  font-weight: 300;
  cursor: pointer;
}

/* add-entry-page */
#water-feed-instruct {
  width: 90%;
  margin: 5% auto;
  font-family: 'Jura', sans-serif;
  font-weight: 400;
  font-size: 2rem;
}

#water-feed-instruct .feed-water-img {
  width: 25vw;
  height: 25vw;
  border: .5rem solid black;
  border-radius: 1rem;
}

.feed-water-img img {
  height: 100%;
  width: 100%;
}

#water-feed-instruct .water-feed-text {
  width: 75vw;
  margin: 0 2%;
}

#feed-instruct #feed-flex {
  display: flex;
}

.water-feed-text h3 {
  text-align: left;
  padding: 0;
  font-weight: 400;
}

.water-feed-text ul {
  margin: 5% 30%;
}

#feed-note h4 {
  font-size: 3rem;
  display: inline;
  font-weight: 500;
}

#feed-note ul {
  margin: 0 auto;
  width: 55%;
}

#feed-note > div:first-child {
  display: flex;
  justify-content: center;
}

#feed-note .circle-icon {
  width: 2rem;
  height: 2rem;
  margin: 2rem 0rem;
}

#add-entry-page textarea {
  margin: 0 auto;
  font-size: 2rem;
}

#add-entry-page #phase-switch {
  width: 1rem;
  height: 1rem;
}

#view-entry-page .nutrient-list {
  width: 22%;
  margin: 0 auto;
}

#view-entry-page #flowering-phase,
#view-entry-page #vegetative-phase {
  width: 4rem;
  height: 4rem;
}

#view-entry-page #entry-subheading {
  display: flex;
  justify-content: center;
  align-items: center;
}

#view-entry-page #notes-box {
  border: .1rem solid black;
  width: 50%;
  margin: 1rem auto;
  padding: .5rem;
  min-height: 3rem;
}

#view-entry-page #edit-entry {
  float: right;
  font-size: 1rem;
  cursor: pointer;
}

#view-entry-page form {
  width: 60%;
  margin: 0 auto;
}

#entry-edit #notes-box-edit {
  border: .1rem solid black;
  width: 80%;
  margin: 1rem auto;
  padding: .5rem;
  height: 7rem;
}

#entry-edit #exit-edit {
  float: right;
  font-size: 1rem;
}

#entry-edit #edit-notes {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  width: 95%;
  height: 95%;
  display: block;
  margin: auto;
}

#entry-edit #submit-edit {
  float: right;
  background-color: black;
  color: white;
  font-family: 'Jura', sans-serif;
  font-weight: 300;
}

/* TODO: make responsive for mobile */
/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
  html {
    font-size: 18px;
  }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
